::-moz-selection {
	background: #f1e7dd;
	text-shadow: none;
}

::selection {
	background: #dbe4ee;
	text-shadow: none;
}

body {
	background-color: #fff;
	position: relative;
}

a {
	color: #39658e;
}

a:hover {
	color: #294866;
}

header {
	padding-top: 40px;
	min-width: 940px;
	position: relative;
}

header, footer {
	background-color: #38414a;
	background-repeat: no-repeat;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#2d343b), to(#4b5561));
	background-image: -webkit-linear-gradient(#2d343b, #4b5561);
	background-image: -moz-linear-gradient(#2d343b, #4b5561);
	background-image: -o-linear-gradient(top, #2d343b, #4b5561);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2d343b', endColorstr='#4b5561', GradientType=0);
}

footer {
	border-top: 1px solid #000;
	margin-top: 80px;
	padding: 0;
	min-width: 940px;
	text-shadow: 0 1px 0 #fff;
}

footer .inner {
    padding: 40px 0;
    -webkit-box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.5);
}

header p,
footer p {
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	margin-bottom: 0;
	opacity: .7;
}

header p a,
footer p a {
	color: #ccd9e6;
	font-weight: bold;
}

header p a:hover,
footer p a:hover {
    color: #fff;
}

footer p.right {
	float: right;
}

section {
  padding-top: 60px;
}

section > .row {
  margin-bottom: 10px;
}

#galleria {
	height: 600px;
	width: 100%;
}

#github-activities h5 {
	line-height: 1.5;
}

#github-activities h5:first-letter {
	text-transform: uppercase;
}

#twitter-activities li {
	
}

ul.seperator li {
	padding: 10px 0;
	border-bottom: 1px dashed #e0e0e0;
}

ul.seperator li:last-child {
	border-bottom: none;
}

ul.vertical-space li {
	margin: 5px 0;
}

/* TODO:
these should be a sprite and cached
find some better looking icons
*/

/* link icons */

.icon {
	padding-left: 20px;
	background: url('../img/favicons.png') no-repeat;
}

.github {
	background-position: 0 0;
}

.github:hover {
	background-position: -384px 0;
}

.twitter {
	background-position: 0 -16px;
}

.twitter:hover {
	background-position: -384px -16px;
}

.facebook {
	background-position: 0 -32px;
}

.facebook:hover {
	background-position: -384px -32px;
}

.linkedin {
	background-position: 0 -48px;
}

.linkedin:hover {
	background-position: -384px -48px;
}

.stackoverflow {
	background-position: 0 -64px;
}

.stackoverflow:hover {
	background-position: -384px -64px;
}

.flickr {
	background-position: 0 -80px;
}

.flickr:hover {
	background-position: -384px -80px;
}

.forrst {
	background-position: 0 -96px;
}

.forrst:hover {
	background-position: -384px -96px;
}

.kickstarter {
	background-position: 0 -112px;
}

.kickstarter:hover {
	background-position: -384px -112px;
}

/* /link icons */

/* ==|== non-semantic helper classes ======================================== */

.ir {
	display: block;
	border: 0;
	text-indent: -999em;
	overflow: hidden;
	background-color: transparent;
	background-repeat: no-repeat;
	text-align: left;
	direction: ltr;
}

.ir br {
	display: none;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {

}

/* ==|== print styles ======================================================= */

@media print {

* {
	background: transparent !important;
	color: black !important;
	text-shadow: none !important;
	filter: none !important;
	-ms-filter: none !important;
}

a, a:visited {
	text-decoration: underline;
}

a[href]:after {
	content: " (" attr(href) ")";
}

abbr[title]:after {
	content: " (" attr(title) ")";
}

.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
	content: "";
}

pre, blockquote {
	border: 1px solid #999;
	page-break-inside: avoid;
}

thead {
	display: table-header-group;
}

tr, img {
	page-break-inside: avoid;
}

img {
	max-width: 100% !important;
}

p, h2, h3 {
	orphans: 3;
	widows: 3;
}

h2, h3 {
	page-break-after: avoid;
}

}